---
import Header from "../componentes/Header.astro";
import Footer from "../componentes/footer.astro";
---

<html lang="es">
<head>
   

    
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="manifest" href="/manifest.json" />

    <title>Nosotros | Aurea | Inventario de aves del cañon del Combeima</title>
</head>
<body>
<Header/>
<main class="contenedor-principal">

<h1>Nosotros</h1>

<p>El <strong>Inventario de Aves del Cañon del Combeima "Aurea"</strong> es un proyecto abierto y comunitario que nace por parte de Ornel Primera Serpa y Jonathan Avila, en el cañon del Combeima. Esta iniciativa se logra a traves de la agencia de Viajes <a href="https://colombiaandotours.com">Colombia Ando Tours</a>. <br> Aurea, busca llegar a guias de turismo que busquen una herramienta para mejorar sus guiones en recorridos turisticos en el Cañon del Combeima, a traves de la interpretación y avistamiento de la avifauna de la region. A los pobladores que deseen apropiarse del conomiento y la riqueza de la biodiversidad de la region y a estudiantes y visitantes que buscan explorar las maravillas de este territorio para conocer su importancia y buscar su preservación</p>

El Inventario de Aves del Cañón del Combeima "Aurea" es un proyecto abierto, interactivo y de base comunitaria nacido en el corazón de la región del Tolima. Esta iniciativa fue cofundada por Ornel Primera Serpa y Jhonatan Avila, y se consolida a través del respaldo estratégico y operativo de la agencia de viajes Colombia Ando Tours, con el objetivo de salvaguardar y visibilizar la extraordinaria biodiversidad de este territorio.

</main>



<Footer/> 
</body>
</html>