---
import Header from "../componentes/Header.astro";
import Footer from "../componentes/footer.astro";
---

<html lang="es">
<head>
   

    
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="manifest" href="/manifest.json" />

    <title>Nosotros | Aurea | Inventario de aves del cañon del Combeima</title>
</head>
<body>
<Header/>
<div class="hero">
<h1>Nosotros</h1>
 <svg height="200" width="200" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
	<path d="M10 14a2 2 0 1 1-4 0a2 2 0 0 1 4 0Zm1.78-8.841a.75.75 0 0 0-1.06 0l-1.97 1.97V.75a.75.75 0 0 0-1.5 0v6.379l-1.97-1.97a.75.75 0 0 0-1.06 1.06l3.25 3.25L8 10l.53-.53l3.25-3.25a.75.75 0 0 0 0-1.061Z" fill="currentColor"/>
</svg>
</div>
<main class="contenedor-principal">




<p>
El <strong>Inventario de Aves del Cañón del Combeima "Aurea"</strong> es un proyecto abierto, interactivo y de base comunitaria nacido en el corazón de la región del Tolima. Esta iniciativa fue cofundada por Ornel Primera Serpa y Jhonatan Avila, y se consolida a través del respaldo estratégico y operativo de la agencia de viajes <a href="https://colombiaandotours.com">Colombia Ando Tours</a>, con el objetivo de salvaguardar y visibilizar la extraordinaria biodiversidad de este territorio.
</p>

<p>
Aurea surge como una respuesta a la necesidad de documentar el patrimonio natural local, transformándose en una herramienta digital, técnica y didáctica que conecta la ciencia ciudadana, el turismo responsable y la conservación ambiental. El propósito fundamental de esta plataforma es democratizar el conocimiento sobre la avifauna del Cañón del Combeima, estructurando información de valor real que impacte positivamente en tres pilares esenciales:
</p>

<ul class="listas">
  <li><strong>Guías de Turismo y Profesionales del Sector:</strong></li>
  <p>
Aurea está diseñado para ser un recurso técnico de consulta obligatoria que permita a los guías locales enriquecer, profesionalizar y diversificar sus guiones interpretativos en las diferentes rutas operadas en el Cañón del Combeima. Al proporcionar datos precisos sobre la identificación de especies, comportamientos, hábitats y cantos, la herramienta eleva la calidad de la experiencia turística, permitiendo estructurar recorridos de aviturismo altamente competitivos y con un profundo valor pedagógico.
</p>

<div class="list-imagen">
  <img src="/imgs/nosotros/nosotrosguias.avif" alt="">
</div>
<strong>  <li> Pobladores y Comunidad Local:</li> </strong> 
<p>
El proyecto busca empoderar a los habitantes del territorio, facilitando los canales para que se apropien del conocimiento sobre la riqueza biológica que los rodea. Al fomentar el sentido de pertenencia y el orgullo por su biodiversidad nativa, Aurea promueve la participación comunitaria en acciones de conservación, incentiva la protección de los microhábitats y abre el camino hacia alternativas de desarrollo económico sostenible basadas en el cuidado del entorno.
</p>
<div class="list-imagen">
  <img src="/imgs/nosotros/nosotroscomunidad.avif" alt="">
</div>
<li><strong> Estudiantes, Investigadores y Visitantes:</strong></li>
<p>
Como plataforma de acceso abierto, funciona como un aula viva y un recurso pedagógico interactivo para el sector educativo. Invita tanto a las nuevas generaciones de estudiantes como a los viajeros nacionales e internacionales a explorar las maravillas naturales del cañón. Su meta es generar conciencia sobre la fragilidad de los ecosistemas de montaña, comprender su importancia ecológica a nivel global e inspirar un compromiso activo e inmediato con su preservación.  
</p>
<div class="list-imagen">
  <img src="/imgs/nosotros/nosotrosninos.webp" alt="">
</div>

</ul>







</main>



<Footer/> 
</body>
</html>

<style>
      .hero {
        color: #ffff;
        background-color: var(--verde-oscuro);
        width: 100%;
    height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        /* border-bottom-left-radius:2rem ; */
        /* border-bottom-right-radius: 1.6rem; */
      }
      .hero h1 {
        font-size: 4rem;
        color: #ffff;
        font-weight: bold;
        margin-bottom: 4rem;
      }
      .hero svg {
        width: 3rem;
      }
h1{
  font-size: 2.4rem;
  text-align: center;
}
  p {
    font-size: 1.6rem;
    color: var(--gris-parrafos);
  }
  li{
    font-size:1.8rem;
    font-weight: bold;
    margin-top: 2rem;
  }
main{
  margin-bottom: 8rem;
}
img{
  width: 100%;
}

.list-imagen{
   width: 100%;
   margin: 0 auto;
}

@media (min-width: 768px) {
  .list-imagen{
    display: flex;
    justify-content: center;

  }

  li{
    font-weight: bold;
    margin-top: 2rem;
  }
img{
  height: 50rem;
width: auto;


}
}
</style>