/* apply a natural box layout model to all elements, but allowing components to change */
:root{
  --verde-oliva:  #00cc99;
  --verde-oscuro: rgb(27, 67, 50) ;
  --gris-parrafos: rgb(61, 61, 61) ;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
    /* El nombre que tú elijas para usarla después */
    font-family: 'Kabla'; 
    
    /* La ruta relativa hacia tu archivo .ttf */
    src: url('../fuentes/Kablammo.ttf') format('truetype');
    
    /* Opcional: define el peso y el estilo por defecto */
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}
html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
    font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

body {
  margin: 0;
  padding: 0;
}

.contenedor-principal{
  width: 90%;
  margin: 0 auto;

}

/* seccion 1 */

.seccion-principal {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(2, 0, 0, 0.226)),
    url("/imgs/colibricabecicastano.jpg");
  background-size: cover;
  background-position: center;
}
.seccion-principal{
  height: 80vh;
  display: flex;
  align-items: end;
  margin-bottom: 2rem;
  color: #ffff;
}
h1{
  font-size: 3rem ;
  
}
i{
  font-size: 1.5rem;
}

.contenido{
  margin-bottom: 2rem;
}
.rutas-titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: rgb(2, 31, 2);
  font-size: 1.5rem;

}
.rutas-titulo a{
  text-decoration: none;
  color: green;
}
.rutas-titulo a:hover{
  cursor: pointer;

}
.rutas{
  margin-bottom: 11rem;
}




/* Estilo resaltado */
 .active {
  background-color: #00cc99;
  font-weight: bold;
  border-bottom: 2px solid white; /* O el estilo que prefieras */
  border-radius: 1rem;

}

.active .items-footer svg{
  color: #d8f3e8 ;
}

@media (min-width: 1440px) {
   html, body{
    font-size: 100%;

  }
 
}