

<button class="bnt-endemica">
  <span class="endemica-textcontent">
    Especie Endemica
  </span>
</button>

<style>
    .bnt-endemica{
        margin-bottom: 2rem;      
        border-radius: 2rem;
        padding: 0.5rem;
        background-color: rgb(206, 97, 8);
        color: #ffff;
        border: none;
    }
  


</style>



