---
const volverSeguro = () => {
  if (window.history.length > 1) {
    window.history.back();
  } else {
    window.location.href = '/home'; // O la ruta principal de tu app
  }
};

---
<bottom class="btn-volver" onclick="window.history.back()">    
    <a  class="volver">
        <div>
<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 32 32" fill="#ffffff"><path fill="#ffffff" d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13s13-5.832 13-13S23.168 3 16 3zm0 2c6.086 0 11 4.914 11 11s-4.914 11-11 11S5 22.086 5 16S9.914 5 16 5zm-.719 4.594L8.875 16l6.406 6.406L16.72 21l-4-4H23v-2H12.719l4-4z"/></svg>      
</div>
Volver

        


    </a>
</bottom>

<style>
.volver{
margin-top: 2rem;
margin-bottom: 2rem;
font-size: 1.2rem ;
}
.btn-volver a{
text-decoration: none;
   align-items: center;
   color: RGB(251, 251, 251);
  
  
}
.volver{
    display: flex;
    flex-direction: row;
  background-color:  var(--verde-oscuro);
padding: .5rem;
border-radius: 3rem;
    width: fit-content;
}

.volver svg{
width: 2rem;
height: 2rem;
margin-right: .8rem;
}

</style>

<script>
const volverSeguro = () => {
  if (window.history.length > 1) {
    window.history.back();
  } else {
    window.location.href = '/'; // O la ruta principal de tu app
  }
};
</script>