<div class="footer">
          <a href="/" class="footer-link">
            <div class="items-footer inicio">
              <svg 
                xmlns="http://www.w3.org/2000/svg"
                width="200"
                height="200"
                viewBox="0 0 48 48"
                fill="#0066cc"
                ><g
                  fill="none"
                  stroke="currentColor"
                  stroke-linejoin="round"
                  stroke-width="4"
                  ><path d="m18 10l14 28H4l14-28Z"></path><path
                    stroke-linecap="round"
                    d="m28 29l5.647-7L44 38H32M12 22h12m-10-4l-4 8m12-8l4 8"
                  ></path></g
                ></svg
              >
              <p>Inicio</p>
            </div>
          </a>

          <a href="/aves" class="footer-link">
            <div class="items-footer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="200"
                height="200"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"

                  d="m23 11.5l-3.05-1.13c-.26-1.15-.91-1.81-.91-1.81a4.189 4.189 0 0 0-5.93 0l-1.48 1.48L5 3c-1 4 0 8 2.45 11.22L2 19.5s8.89 2 14.07-2.05c2.76-2.16 3.38-3.42 3.77-4.75L23 11.5m-5.29.22c-.39.39-1.03.39-1.42 0a.996.996 0 0 1 0-1.41c.39-.39 1.03-.39 1.42 0c.39.39.39 1.02 0 1.41Z"
                ></path></svg
              >
              <p>Aves</p>
            </div>
          </a>
          <a href="/rutas" class="footer-link">
            <div class="items-footer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="200"
                height="200"
                viewBox="0 0 24 24"
                ><path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 18.5L9 17l-6 3V7l6-3l6 3l6-3v7.5M9 4v13m6-10v5.5m6.121 7.621a3 3 0 1 0-4.242 0c.418.419 1.125 1.045 2.121 1.879c1.051-.89 1.759-1.516 2.121-1.879zM19 18v.01"
                ></path></svg
              >
              <p>Rutas</p>
            </div>
          </a>
        </div>

  <script src="/scrips/app.js" is:inline></script>

        <style>

            .footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #cccccc;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 5rem;
  padding: .5rem ;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.items-footer{
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 6rem;
  width: 6rem;

}
.items-footer p{
  margin: 0rem;

}

a{
    text-decoration: none;
    color: #000000;
}

svg{
  color: #1b4332;
}

        </style>