---
// Lógica del componente (Frontmatter)
// Aquí definimos variables que podemos usar en el HTML

const navLinks = [
  { text: "Nosotros", url: "/nosotros" },
  { text: "Contacto", url: "/contacto" },
  { text: "Blog", url: "/blog/" },
];
---

<!-- HTML del componente -->

<header class="main-header ">
<div class="contenedor-header">

  <div class="logo">
    <img src="/icons/logo.png" alt="Imagen logo" />
  </div>
  <div class="titulo name">
    <a href="/">Áurea</a>
  </div>
  <nav class="navegacion navList" id="navList">
    <ul class="estilos-ventana">
      {/* Usamos JavaScript para iterar sobre los enlaces y generar el HTML dinámicamente */
      }
      {
        navLinks.map((link) => (
          <li>
            <a class="google-sans-300" href={link.url}>{link.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="hamburguesa">
    <button class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</div>

</header>

<!-- FIN DE HTML DEL COMPONENTE -->

<!-- Estilos del componente -->
<style>
  /* Estilo básico */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .hamburger span {
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }

  /* Estado transformado en X */
  .hamburger.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .hamburger {
    display: none;
  } 



  .main-header {
   display: flex;
   justify-content: center;

    background-color: #CCCCCC;
    width: 100%;
  }
.contenedor-header{
  margin: 0 auto;
  width: 80%;
   display: grid;
grid-template-columns: 1fr auto 1fr;
   align-items: center;
    padding: 1rem 2rem;

}
.logo{
  justify-self: start;
}
.titulo{
  justify-self: center;
}
.navegacion{
  justify-self: end;
}
.hamburguesa{
  justify-self: end;
}

  .logo img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
   a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;;
  }
  nav a:hover {
  border-bottom: 2px solid white; /* O el estilo que prefieras */

    
  }
  .name a{
font-family: 'Kabla', "Google Sans", sans-serif;
font-size: 2.4rem ;
letter-spacing: .2rem;
  }

  @media screen and (max-width: 426px) {
     .estilos-ventana {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
    .hamburger {
      display: flex;
    }

    .navList {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: fit-content;
      background-color: #00cc99;
      padding-top: 5rem;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;

      transform: translateY(-100%); /* Lo escondemos empujándolo 100% hacia afuera de la pantalla */
      transition: transform 0.3s ease-in-out; /* Hace que el deslizamiento sea suave en vez de instantáneo */
    }
    .abierta {
      transform: translateX(0px);
    }
  }
  nav a:focus {
  outline: none;
}

 
</style>

<script>
  const navegacion = document.getElementById("navList");
  const hamburger = document.getElementById("hamburger");
  const links = document.querySelectorAll(".navegacion a");

  hamburger?.addEventListener("click", () => {
    hamburger.classList.toggle("open");
    navegacion?.classList.toggle("abierta");
  });
</script>
